.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.assignment-modal {
  width: 600px;
  background: #fff;

  border-radius: 24px;

  padding: 30px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.assignment-modal h2 {
  margin-bottom: 25px;

  font-size: 34px;
  font-weight: 700;
  color: #111827;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.form-group input {
  height: 52px;

  border: 1px solid #d1d5db;
  border-radius: 14px;

  padding: 0 16px;

  font-size: 16px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  margin-top: 25px;
}

.cancel-btn {
  border: 2px solid #5b4cf6;
  background: white;

  color: #5b4cf6;

  padding: 12px 24px;
  border-radius: 14px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.create-btn {
  border: none;
  background: #5b4cf6;
  color: white;

  padding: 12px 24px;
  border-radius: 14px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

@media (max-width: 768px) {
  .assignment-modal {
    width: 95%;
    padding: 20px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}